.row
  .col-md-4.menu
    %nav
      %ul
        %li
          %a{:href => "#"}
          = link_to 'Interview with Dan Korn', 'http://www.harrydaposten.se/2015/02/antisemitismen-lag-i-sverige/'
        %li
          %a{:href => "#"}
          = link_to 'Healthy at 100 years', 'http://www.harrydaposten.se/2011/01/pigga-100-ringar-gladgympar/'
        %li
          %a{:href => "#"}
          = link_to 'My books', 'http://bokborgen.se/forfattare/petronella-simonsbacka'
        %li
          %a{:href => "#"}
          = link_to 'About ovarial cancer', 'http://www.skovdenyheter.se/article/bloggar-om-cancer-petronella-en-av-tusentals-drabbade-i-skaraborg/'
          = image_tag "ca.png"
  .col-md-8
    %article
      = image_tag "img_8908-JPG.jpg"
      %h1 Petronella Simonsbacka
      %p I worked as i journalist, started studying medicin and fell in love with coding... Now I just want to keep learning more for the rest of my life. Welcome to my me-page where I post my various projects.
      .projects
        - data.projects.each do |project|
          %h4= project[:name]
          %p= project[:description]
          %p= link_to "URL", project[:url]
