.row
  .col-md-4.menu
    %nav
      %ul
        %li
          %a{:href => "#"}
          = link_to 'Interview with Dan Korn', 'http://www.harrydaposten.se/2015/02/antisemitismen-lag-i-sverige/'
        %li
          %a{:href => "#"}
          = link_to 'Snowing in Liseberg', 'http://www.alingsastidning.se/2008/11/nysno-arets-nyhet-pa-liseberg/'
        %li
          %a{:href => "#"}
          = link_to 'Best player', 'http://www.partilletidning.se/2013/08/bde-guld-och-bsta-mlvakt/'
        %li
          %a{:href => "#"}
          = link_to 'Healthy at 100 years', 'http://www.harrydaposten.se/2011/01/pigga-100-ringar-gladgympar/'
        %li
          %a{:href => "#"}
          = link_to 'Fish fresh feet', 'http://www.partilletidning.se/2012/06/fiskar-fixar-friska-ftter/'
        %li
          %a{:href => "#"}
          = link_to 'Control of child labour', 'http://www.allehanda.se/sanering-i-textilindustrin-4'
        %li
          %a{:href => "#"}
          = link_to 'Focused front page boule', 'http://bovieran.se.loopiadns.com/images/partille_tidning_100408.pdf'
        %li
          %a{:href => "#"}
          = link_to 'Inspired by silence', 'http://pt.alingsastidning.se/sokresultat_visa.asp?id=3126&sokstrang=simonsbacka&sidnamn=SOKRESULTAT&offset='
        %li
          %a{:href => "#"}
          = link_to 'Short stories are like a good sauce', 'http://www.partilletidning.se/2014/04/simone-tror-p-novellen/'
        %li
          %a{:href => "#"}
          = link_to 'My books', 'http://bokborgen.se/forfattare/petronella-simonsbacka'
        %li
          %a{:href => "#"}
          = link_to 'Deadly Dast Magazine', 'http://www.dast.nu/recension/debut-i-dod'
        %li
          %a{:href => "#"}
          = link_to 'Boksampo', 'http://www.boksampo.fi/sv/kulsa/saha3%253Au916ee4c4-b082-4a5f-8a62-b929a3bb1e18#.V8f4MhCLTVo'
        %li
          %a{:href => "#"}
          = link_to 'Deckarskolan', 'http://www.deckarskolan.com/publicerade-elever-debutanter/'
        %li
          %a{:href => "#"}
          = link_to 'Fighting for fair pay', 'http://www.journalisten.se/nyheter/loneklyftan-fortsatter-att-vaxa'
        %li
          %a{:href => "#"}
          = link_to 'Les trois in Ankdammen', 'http://ankdamm.com/?showmessageid=6674&page=54'
        %li
          %a{:href => "#"}
          = link_to 'Torsten Hjärnsläpp live', 'https://www.youtube.com/watch?v=0hWZsNatOzw&list=PLC28951369FC5A516'
        %li
          %a{:href => "#"}
          = link_to 'About ovarial cancer', 'http://www.skovdenyheter.se/article/bloggar-om-cancer-petronella-en-av-tusentals-drabbade-i-skaraborg/'
          = image_tag "ca.png"
  .col-md-8
    %article
      = image_tag "img_8908-JPG.jpg"
      %h1 Petronella Simonsbacka
      %p I worked as i journalist, started studying medicin and fell in love with coding... Now I just want to keep learning more for the rest of my life. Welcome to my me-page where I post my various projects.
      .projects
        - data.projects.each do |project|
          %h4= project[:name]
          %p= project[:description]
          %p= link_to "URL", project[:url]
